{% load custom_tags %}
<div class="thumbnail">
  <a href="{% url 'project' project.id %}">
    <img src="http://placehold.it/700x450&text=Project+Thumbnail" alt="Project Thumbnail">

    <div class="caption">
      <h3 style="text-overflow: ellipsis;">{{ project.name }}</h3>

      <p>{{ project.description }}</p>

      <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ project.percent_funded }}"
             aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent_funded }}%; min-width: 2em;">
          {{ project.percent_funded }}%
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="text-left"><strong>{{ project.amount_funded|currency }}</strong></p>
        </div>
        <div class="col-md-6">
          <p class="text-right">2 days left</p>
        </div>
      </div>
    </div>
  </a>
</div>