{% extends "base.html" %}

{% block subtitle %}{{ community.name }}{% endblock subtitle %}

{% block content %}
  {% include 'page_heading.html' with heading=community.name %}

  <!--Community Content Column -->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <!-- Community Image -->
        <img class="img-responsive" src="http://placehold.it/750x300&text=Community+Banner" alt="">
        <hr>
        <!-- Community Description Content -->
        <p>{{ community.description }}</p>

        <a class="btn btn-primary btn-lg" href="#">Subscribe</a>
      </div>
      <!-- Community Sidebar Widget- subscribed users -->
      <div class="col-md-4">
        <h4>Subscribed Users</h4>

        <div class="row">
          {% for user in community.subscribers.all|slice:":12" %}
            <div class="col-md-4">
              <a class="User pic" href="{% url 'user' user.id %}">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
                <h5>{{ user.get_full_name }}</h5></a>
            </div>
            {% if forloop.counter|divisibleby:3 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Section -->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12"><h2 class="page-header">Projects</h2></div>
      {% for project in community.projects.all|slice:":3" %}
        <div class="col-sm-6 col-md-4">
          {% include "home/fragments/project_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <!-- Comments Form -->
  <div class="row">
    <div class="col-lg-12">
      <h4>Leave a Comment:</h4>

      <form role="form">
        <div class="form-group">
          <label for="commentBox" class="sr-only">Comment box</label>
          <textarea id="commentBox" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <hr>

  <!-- Posted Comments -->
  <div class="row">
    <div class="col-lg-12">
      {% for comment in community.comments %}
        {% include 'home/fragments/comment.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
